@import "tailwindcss";

@theme {
  --color-brand-cyan: 190 90% 50%;
  --color-brand-magenta: 300 90% 50%;
  --color-brand-yellow: 45 100% 50%;
  --color-brand-green: 140 80% 50%;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #000000;
  --primary-foreground: #ffffff;
  --secondary: #f3f4f6;
  --secondary-foreground: #1f2937;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --accent: #f3f4f6;
  --accent-foreground: #1f2937;
  --destructive: #ef4444;
  --destructive-foreground: #f9fafb;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --ring: #000000;
  --radius: 0.5rem;
}

.dark {
  --background: #030712;
  --foreground: #f9fafb;
  --card: #030712;
  --card-foreground: #f9fafb;
  --popover: #030712;
  --popover-foreground: #f9fafb;
  --primary: #f9fafb;
  --primary-foreground: #09090b;
  --secondary: #1f2937;
  --secondary-foreground: #f9fafb;
  --muted: #1f2937;
  --muted-foreground: #9ca3af;
  --accent: #1f2937;
  --accent-foreground: #f9fafb;
  --destructive: #7f1d1d;
  --destructive-foreground: #f9fafb;
  --border: #1f2937;
  --input: #1f2937;
  --ring: #d1d5db;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}